@charset "UTF-8";
.display{
	position: absolute;
	top:70px;
	left:260px;
	width: calc(100% - 260px);
	height: calc(100% - 70px);
	display:block;
	z-index: 900;
}

.loading{
	display:block;
	position: absolute;
	top:50%;
	left:44%;
	width:200px;
	height:200px;
	margin:-100px 0 0 -100px;
	z-index: 999;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-spinner {
  position: relative;
}
.lds-spinner div {
  left: 99px;
  top: 13px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1s infinite;
  animation: lds-spinner linear 1s infinite;
  background: rgb(31, 131, 206);
  width: 2px;
  height: 42px;
  border-radius: 200%;
  -webkit-transform-origin: 1px 87px;
  transform-origin: 1px 87px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.99s;
  animation-delay: -0.99s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
  -webkit-animation-delay: -0.98s;
  animation-delay: -0.98s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
  -webkit-animation-delay: -0.97s;
  animation-delay: -0.97s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
  -webkit-animation-delay: -0.96s;
  animation-delay: -0.96s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
  -webkit-animation-delay: -0.95s;
  animation-delay: -0.95s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(18deg);
  transform: rotate(18deg);
  -webkit-animation-delay: -0.94s;
  animation-delay: -0.94s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
  -webkit-animation-delay: -0.93s;
  animation-delay: -0.93s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
  -webkit-animation-delay: -0.92s;
  animation-delay: -0.92s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
  -webkit-animation-delay: -0.91s;
  animation-delay: -0.91s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
  -webkit-animation-delay: -0.89s;
  animation-delay: -0.89s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
  -webkit-animation-delay: -0.88s;
  animation-delay: -0.88s;
}
.lds-spinner div:nth-child(13) {
  -webkit-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
  -webkit-animation-delay: -0.87s;
  animation-delay: -0.87s;
}
.lds-spinner div:nth-child(14) {
  -webkit-transform: rotate(46.8deg);
  transform: rotate(46.8deg);
  -webkit-animation-delay: -0.86s;
  animation-delay: -0.86s;
}
.lds-spinner div:nth-child(15) {
  -webkit-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
  -webkit-animation-delay: -0.85s;
  animation-delay: -0.85s;
}
.lds-spinner div:nth-child(16) {
  -webkit-transform: rotate(54deg);
  transform: rotate(54deg);
  -webkit-animation-delay: -0.84s;
  animation-delay: -0.84s;
}
.lds-spinner div:nth-child(17) {
  -webkit-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
  -webkit-animation-delay: -0.83s;
  animation-delay: -0.83s;
}
.lds-spinner div:nth-child(18) {
  -webkit-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
  -webkit-animation-delay: -0.82s;
  animation-delay: -0.82s;
}
.lds-spinner div:nth-child(19) {
  -webkit-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
  -webkit-animation-delay: -0.81s;
  animation-delay: -0.81s;
}
.lds-spinner div:nth-child(20) {
  -webkit-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(21) {
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg);
  -webkit-animation-delay: -0.79s;
  animation-delay: -0.79s;
}
.lds-spinner div:nth-child(22) {
  -webkit-transform: rotate(75.6deg);
  transform: rotate(75.6deg);
  -webkit-animation-delay: -0.78s;
  animation-delay: -0.78s;
}
.lds-spinner div:nth-child(23) {
  -webkit-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
  -webkit-animation-delay: -0.77s;
  animation-delay: -0.77s;
}
.lds-spinner div:nth-child(24) {
  -webkit-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
  -webkit-animation-delay: -0.76s;
  animation-delay: -0.76s;
}
.lds-spinner div:nth-child(25) {
  -webkit-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.lds-spinner div:nth-child(26) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.74s;
  animation-delay: -0.74s;
}
.lds-spinner div:nth-child(27) {
  -webkit-transform: rotate(93.6deg);
  transform: rotate(93.6deg);
  -webkit-animation-delay: -0.73s;
  animation-delay: -0.73s;
}
.lds-spinner div:nth-child(28) {
  -webkit-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
  -webkit-animation-delay: -0.72s;
  animation-delay: -0.72s;
}
.lds-spinner div:nth-child(29) {
  -webkit-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
  -webkit-animation-delay: -0.71s;
  animation-delay: -0.71s;
}
.lds-spinner div:nth-child(30) {
  -webkit-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(31) {
  -webkit-transform: rotate(108deg);
  transform: rotate(108deg);
  -webkit-animation-delay: -0.69s;
  animation-delay: -0.69s;
}
.lds-spinner div:nth-child(32) {
  -webkit-transform: rotate(111.6deg);
  transform: rotate(111.6deg);
  -webkit-animation-delay: -0.68s;
  animation-delay: -0.68s;
}
.lds-spinner div:nth-child(33) {
  -webkit-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
  -webkit-animation-delay: -0.67s;
  animation-delay: -0.67s;
}
.lds-spinner div:nth-child(34) {
  -webkit-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
  -webkit-animation-delay: -0.66s;
  animation-delay: -0.66s;
}
.lds-spinner div:nth-child(35) {
  -webkit-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
  -webkit-animation-delay: -0.65s;
  animation-delay: -0.65s;
}
.lds-spinner div:nth-child(36) {
  -webkit-transform: rotate(126deg);
  transform: rotate(126deg);
  -webkit-animation-delay: -0.64s;
  animation-delay: -0.64s;
}
.lds-spinner div:nth-child(37) {
  -webkit-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
  -webkit-animation-delay: -0.63s;
  animation-delay: -0.63s;
}
.lds-spinner div:nth-child(38) {
  -webkit-transform: rotate(133.2deg);
  transform: rotate(133.2deg);
  -webkit-animation-delay: -0.62s;
  animation-delay: -0.62s;
}
.lds-spinner div:nth-child(39) {
  -webkit-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
  -webkit-animation-delay: -0.61s;
  animation-delay: -0.61s;
}
.lds-spinner div:nth-child(40) {
  -webkit-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(41) {
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
  -webkit-animation-delay: -0.59s;
  animation-delay: -0.59s;
}
.lds-spinner div:nth-child(42) {
  -webkit-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
  -webkit-animation-delay: -0.58s;
  animation-delay: -0.58s;
}
.lds-spinner div:nth-child(43) {
  -webkit-transform: rotate(151.2deg);
  transform: rotate(151.2deg);
  -webkit-animation-delay: -0.57s;
  animation-delay: -0.57s;
}
.lds-spinner div:nth-child(44) {
  -webkit-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
  -webkit-animation-delay: -0.56s;
  animation-delay: -0.56s;
}
.lds-spinner div:nth-child(45) {
  -webkit-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
  -webkit-animation-delay: -0.55s;
  animation-delay: -0.55s;
}
.lds-spinner div:nth-child(46) {
  -webkit-transform: rotate(162deg);
  transform: rotate(162deg);
  -webkit-animation-delay: -0.54s;
  animation-delay: -0.54s;
}
.lds-spinner div:nth-child(47) {
  -webkit-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
  -webkit-animation-delay: -0.53s;
  animation-delay: -0.53s;
}
.lds-spinner div:nth-child(48) {
  -webkit-transform: rotate(169.2deg);
  transform: rotate(169.2deg);
  -webkit-animation-delay: -0.52s;
  animation-delay: -0.52s;
}
.lds-spinner div:nth-child(49) {
  -webkit-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
  -webkit-animation-delay: -0.51s;
  animation-delay: -0.51s;
}
.lds-spinner div:nth-child(50) {
  -webkit-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(51) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.49s;
  animation-delay: -0.49s;
}
.lds-spinner div:nth-child(52) {
  -webkit-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
  -webkit-animation-delay: -0.48s;
  animation-delay: -0.48s;
}
.lds-spinner div:nth-child(53) {
  -webkit-transform: rotate(187.2deg);
  transform: rotate(187.2deg);
  -webkit-animation-delay: -0.47s;
  animation-delay: -0.47s;
}
.lds-spinner div:nth-child(54) {
  -webkit-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
  -webkit-animation-delay: -0.46s;
  animation-delay: -0.46s;
}
.lds-spinner div:nth-child(55) {
  -webkit-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}
.lds-spinner div:nth-child(56) {
  -webkit-transform: rotate(198deg);
  transform: rotate(198deg);
  -webkit-animation-delay: -0.44s;
  animation-delay: -0.44s;
}
.lds-spinner div:nth-child(57) {
  -webkit-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
  -webkit-animation-delay: -0.43s;
  animation-delay: -0.43s;
}
.lds-spinner div:nth-child(58) {
  -webkit-transform: rotate(205.2deg);
  transform: rotate(205.2deg);
  -webkit-animation-delay: -0.42s;
  animation-delay: -0.42s;
}
.lds-spinner div:nth-child(59) {
  -webkit-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
  -webkit-animation-delay: -0.41s;
  animation-delay: -0.41s;
}
.lds-spinner div:nth-child(60) {
  -webkit-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(61) {
  -webkit-transform: rotate(216deg);
  transform: rotate(216deg);
  -webkit-animation-delay: -0.39s;
  animation-delay: -0.39s;
}
.lds-spinner div:nth-child(62) {
  -webkit-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
  -webkit-animation-delay: -0.38s;
  animation-delay: -0.38s;
}
.lds-spinner div:nth-child(63) {
  -webkit-transform: rotate(223.2deg);
  transform: rotate(223.2deg);
  -webkit-animation-delay: -0.37s;
  animation-delay: -0.37s;
}
.lds-spinner div:nth-child(64) {
  -webkit-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
  -webkit-animation-delay: -0.36s;
  animation-delay: -0.36s;
}
.lds-spinner div:nth-child(65) {
  -webkit-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
  -webkit-animation-delay: -0.35s;
  animation-delay: -0.35s;
}
.lds-spinner div:nth-child(66) {
  -webkit-transform: rotate(234deg);
  transform: rotate(234deg);
  -webkit-animation-delay: -0.34s;
  animation-delay: -0.34s;
}
.lds-spinner div:nth-child(67) {
  -webkit-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
  -webkit-animation-delay: -0.33s;
  animation-delay: -0.33s;
}
.lds-spinner div:nth-child(68) {
  -webkit-transform: rotate(241.2deg);
  transform: rotate(241.2deg);
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.lds-spinner div:nth-child(69) {
  -webkit-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
  -webkit-animation-delay: -0.31s;
  animation-delay: -0.31s;
}
.lds-spinner div:nth-child(70) {
  -webkit-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(71) {
  -webkit-transform: rotate(252deg);
  transform: rotate(252deg);
  -webkit-animation-delay: -0.29s;
  animation-delay: -0.29s;
}
.lds-spinner div:nth-child(72) {
  -webkit-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
  -webkit-animation-delay: -0.28s;
  animation-delay: -0.28s;
}
.lds-spinner div:nth-child(73) {
  -webkit-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
  -webkit-animation-delay: -0.27s;
  animation-delay: -0.27s;
}
.lds-spinner div:nth-child(74) {
  -webkit-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
  -webkit-animation-delay: -0.26s;
  animation-delay: -0.26s;
}
.lds-spinner div:nth-child(75) {
  -webkit-transform: rotate(266.4deg);
  transform: rotate(266.4deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.lds-spinner div:nth-child(76) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.24s;
  animation-delay: -0.24s;
}
.lds-spinner div:nth-child(77) {
  -webkit-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
  -webkit-animation-delay: -0.23s;
  animation-delay: -0.23s;
}
.lds-spinner div:nth-child(78) {
  -webkit-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
  -webkit-animation-delay: -0.22s;
  animation-delay: -0.22s;
}
.lds-spinner div:nth-child(79) {
  -webkit-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
  -webkit-animation-delay: -0.21s;
  animation-delay: -0.21s;
}
.lds-spinner div:nth-child(80) {
  -webkit-transform: rotate(284.4deg);
  transform: rotate(284.4deg);
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(81) {
  -webkit-transform: rotate(288deg);
  transform: rotate(288deg);
  -webkit-animation-delay: -0.19s;
  animation-delay: -0.19s;
}
.lds-spinner div:nth-child(82) {
  -webkit-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
  -webkit-animation-delay: -0.18s;
  animation-delay: -0.18s;
}
.lds-spinner div:nth-child(83) {
  -webkit-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
  -webkit-animation-delay: -0.17s;
  animation-delay: -0.17s;
}
.lds-spinner div:nth-child(84) {
  -webkit-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.lds-spinner div:nth-child(85) {
  -webkit-transform: rotate(302.4deg);
  transform: rotate(302.4deg);
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}
.lds-spinner div:nth-child(86) {
  -webkit-transform: rotate(306deg);
  transform: rotate(306deg);
  -webkit-animation-delay: -0.14s;
  animation-delay: -0.14s;
}
.lds-spinner div:nth-child(87) {
  -webkit-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
  -webkit-animation-delay: -0.13s;
  animation-delay: -0.13s;
}
.lds-spinner div:nth-child(88) {
  -webkit-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
  -webkit-animation-delay: -0.12s;
  animation-delay: -0.12s;
}
.lds-spinner div:nth-child(89) {
  -webkit-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
  -webkit-animation-delay: -0.11s;
  animation-delay: -0.11s;
}
.lds-spinner div:nth-child(90) {
  -webkit-transform: rotate(320.4deg);
  transform: rotate(320.4deg);
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(91) {
  -webkit-transform: rotate(324deg);
  transform: rotate(324deg);
  -webkit-animation-delay: -0.09s;
  animation-delay: -0.09s;
}
.lds-spinner div:nth-child(92) {
  -webkit-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
  -webkit-animation-delay: -0.08s;
  animation-delay: -0.08s;
}
.lds-spinner div:nth-child(93) {
  -webkit-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
  -webkit-animation-delay: -0.07s;
  animation-delay: -0.07s;
}
.lds-spinner div:nth-child(94) {
  -webkit-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
  -webkit-animation-delay: -0.06s;
  animation-delay: -0.06s;
}
.lds-spinner div:nth-child(95) {
  -webkit-transform: rotate(338.4deg);
  transform: rotate(338.4deg);
  -webkit-animation-delay: -0.05s;
  animation-delay: -0.05s;
}
.lds-spinner div:nth-child(96) {
  -webkit-transform: rotate(342deg);
  transform: rotate(342deg);
  -webkit-animation-delay: -0.04s;
  animation-delay: -0.04s;
}
.lds-spinner div:nth-child(97) {
  -webkit-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
  -webkit-animation-delay: -0.03s;
  animation-delay: -0.03s;
}
.lds-spinner div:nth-child(98) {
  -webkit-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
  -webkit-animation-delay: -0.02s;
  animation-delay: -0.02s;
}
.lds-spinner div:nth-child(99) {
  -webkit-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
  -webkit-animation-delay: -0.01s;
  animation-delay: -0.01s;
}
.lds-spinner div:nth-child(100) {
  -webkit-transform: rotate(356.4deg);
  transform: rotate(356.4deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}