body {
	font-family: 'notokr', sans-serif;
    font-style: normal;
	font-weight: 300;
  font-size: .875rem;
  	background-color: #1B2431;
  	min-width: 1440px;
}

a, button, a:hover, button:hover { text-decoration: none !important;  }

/* ******************************************  Navbar ****************************************** */
.mainTopBar { min-width: 1440px; height: 70px; color: #ffffff; background-color: #273142; border-bottom: solid 1px #3F4C60; }

.brandTitle { text-align: left; font-size: 30px; font-weight: 500; letter-spacing: -2.63px; padding: 0; }
.navbar-brand { padding-top: 20px; padding-bottom: 20px; width:280px; min-width:280px; border-right: solid 1px #3F4C60; margin-right: 25px; }
.navbar-brand img { height:30px; }

.memberJoin li { width: 70px; padding-top: .7rem; padding-bottom: .75rem; border-left: solid 1px #3F4C60; }
.memberJoin .login { width: 300px; padding-left: 26px; padding-top: .9rem; padding-bottom: .9rem; }
.memberJoin .login img { float: left; width: 42px; height: 42px;  margin-right: 12px; }
.memberJoin .login p { font-size: 15px; font-weight: 500; letter-spacing: -0.8px; line-height: 22px; margin: 0;  margin-top: 1px; text-align: left; }
.memberJoin .login span { display:block; font-size: 12px; color: #7F8FA4; letter-spacing: -0.5px; line-height: 17px; text-align: left; }
.memberJoin i { position: relative; top: -4px; font-size: 30px; color: #8492B4; padding: 7px 12px 20px 21px; }
.memberJoin li a i:hover { background-color: #2E394C; }
.memberJoin li a i:active, .memberJoin li a.active i { background-color: #1B2431; }

.memberJoin i.icon-bell { position: relative; }
.memberJoin i.icon-bell .base {
	position: absolute;
	top: 8px;
	right: 10px; 
	font-size: 12px;
	font-weight: 700;
	color: #ffffff;
	line-height: 1;
	padding: 4px 8px 4px 5px;
	border-radius: 12px;
	border: 2px solid #2EA2F8; 
	background-color: #FF7800;
} 

.memberJoin li a i.icon-bell:hover .base { border: 2px solid #2E394C; }
.memberJoin li a i.icon-bell:active .base,
.memberJoin li a.active i.icon-bell .base { border: 2px solid #1B2431; }


/* ****************************************** sideMenu ****************************************** */
#sideMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 78px 0 0; /* Height of navbar */
  width:280px;
  min-width:280px;
  border-right: solid 1px #3F4C60;
  background-color: #273142;
}

/* 왼쪽 메인 메뉴 */
#menuAccordion .btn { 
	width: 280px;
	height: 30px;
	font-size: 18px;
	font-weight: 500;
	line-height: 0;
	letter-spacing: -1px;
	color: #8492B4;
	text-align: left;
	padding: 0rem 0.75rem;
	background-color: transparent;
	border-radius: 0;
	border: 0px;
	border-left: solid 4px #273142;
	margin-top: 17px;
}

#menuAccordion .btn:hover { color: #ffffff; text-decoration: underline; background-color: transparent; border-color: transparent; border-left: solid 4px #2EA2F8; }
#menuAccordion .btn:focus, #menuAccordion .btn.focus { color: #ffffff; text-decoration: underline; border-color: transparent; box-shadow: none; border-left: solid 4px #2EA2F8; }
#menuAccordion .btn:hover i { color: #2EA2F8; }
#menuAccordion .btn:focus i, #menuAccordion .btn.focus i { color: #2EA2F8; }

#menuAccordion button:after { float: right; 	line-height: 0.75; font-family: "epicicon"; content: '\e815';  font-size: 24px; }
#menuAccordion button.collapsed:after { font-family: "epicicon"; content: '\e81c'; }

#menuAccordion .btn i { position: relative; top: -2px; font-size: 24px; }
#menuAccordion .btn i.size26 { font-size: 26px; margin-right: -3px; }

/* 왼쪽 메인 서브메뉴 */
#menuAccordion ul.navbar-nav {  margin-top: 14px; margin-left: 50px; margin-bottom: 0px; }
#menuAccordion ul.navbar-nav li { width: 180px; font-size: 16px; color: #8492B4; letter-spacing: -0.69px; padding: 5px 6px; margin-bottom: 2px; }
#menuAccordion ul.navbar-nav li a { display: block;  color: #8492B4; }
#menuAccordion ul.navbar-nav li:hover,
#menuAccordion ul.navbar-nav li.focus { background-color: #3F4C60; }
#menuAccordion ul.navbar-nav li:hover a,
#menuAccordion ul.navbar-nav li.focus a { color: #ffffff; font-weight: 500; }

/* ****************************************** Content ****************************************** */
#main { padding-left: 280px; padding-top: 70px; min-width: 1220px; width: 100%; }

/* 메인 내용 */
.mainContents { width: 100%; padding: 20px; }

.contentsTitle { font-size: 36px; color: #ffffff; letter-spacing: -3.15px; }
.contentsTitle i { font-size: 48px; }

.form-control {
	height: 36px;
  padding: 0.375rem 0.5rem;
  font-size: 14px;
  letter-spacing: -0.6px;
  color: #8492B4 !important;
	border: 1px solid #BBBECD;
}

.search .form-control { border: 1px solid #4A576C; border-right: 0; background-color: transparent; }
.search .btn-outline-secondary {
  padding: 0.375rem 0.2rem 0.375rem 0.4rem;
  font-size: 1.3rem;
  line-height: 0;
  color: #8492B4;
  background-color: transparent;
  border-color: #4A576C;
    border-left: 0;
}
.search .btn-outline-secondary:hover { color: #ffffff; background-color: #8492B4; border-color: #4A576C; }

.w-300px { width: 300px !important; } /* 검색창 */ 
.notice-w-100 { width: 100px; }

.table th,
.table td { vertical-align: middle; }

.vestapTable { border: 1px solid #50617B; }
.vestapTable th,
.vestapTable td { padding: 0.75rem; border-top: 1px solid #50617B; }
.vestapTable thead th { padding: 1rem 0.75rem; font-size: 15px; font-weight: bold; color: #ffffff; letter-spacing: -0.64px; background-color: #273142; border-bottom: 1px solid #50617B; }
.vestapTable thead th:first-child { padding-left: 24px; border-radius: 4px 0 0 0; }
.vestapTable thead th:last-child { border-radius: 0 4px 0 0; }

.vestapTable tr { font-size: 14px; color: #8492B4; letter-spacing: -0.78px; background-color: #232B3A;  }
.vestapTable tr:last-child td:first-child { border-radius: 0 0 0 4px; }
.vestapTable tr:last-child td:last-child { border-radius: 0 0 4px 0; }

.vestapTable td:first-child { padding-left: 24px; }

.vestapTable tbody tr:hover td:first-child,
.vestapTable tbody tr.active td:first-child { padding-left: 24px; }

.table-hover.vestapTable tr { cursor: pointer; }
.table-hover.vestapTable tbody tr:hover,
.table-hover.vestapTable tbody tr.active { color: #ffffff; background-color: #283242; border-left: 1px solid #3FA2F7; }

	@media (max-width: 1680px) { 
		.notice-w-100 {  width: 90px; } /* overflow: hidden; text-overflow: ellipsis; white-space: nowrap; */
	}
	
.borad-dete { font-size: 15px; font-weight: 500; color: #ffffff; letter-spacing: -0.8px; }
.borad-dete i { font-size: 24px; }
.borad-dete-val { font-weight: 300; color: #2EA2F8; margin-left: 10px; }
.borad-contents { font-size: 14px; color: #8492B4; letter-spacing: -1.23px; line-height: 40px; padding-bottom: 20px; margin-bottom: 10px; border-bottom: 1px solid #3F4C60; }
.borad-file { font-size: 14px; font-weight: 500; color: #297FCA; letter-spacing: -0.75px; }
.borad-file i { font-size: 20px; }
.borad-file a { font-weight: 300; color: #8492B4; letter-spacing: -0.75px; margin-left: 15px; }


.pagination.previous .page-link, .pagination.next .page-link { padding: 4px 6px; }
.pagination.previous { margin-right: 5px; }
.pagination.next { margin-left: 5px; }

.page-link { height: 32px; color: #8492B4; border: 1px solid #50617B; background: linear-gradient(180deg, #283345 0%, #222C3C 100%); padding: 0.4rem 0.75rem; margin-left: -1px; line-height: 1.2; }
.page-link:hover { color: #ffffff; background: linear-gradient(0deg, #313D4F 0%, #425167 100%); border: 1px solid #50617B; }
.page-link:focus { color: #FFFFFF; background: linear-gradient(0deg, #1965A0 0%, #2B7CBB 100%); border: 1px solid #50617B; }
.page-item.active .page-link { color: #fff; background: linear-gradient(0deg, #1965A0 0%, #2B7CBB 100%); border-color: #1997F6; }



.btn-vestap { position: relative; width: 125px; height: 36px; padding: 0.375rem 1rem; font-size: 14px; line-height: 0.75; }
.btn-vestap i { font-size: 20px;}

.btn-blue { color: #ffffff; border: 1px solid #1585D8;	background: linear-gradient(0deg, #1991EB 0%, #2DA1F8 100%); }
.btn-blue:hover { border: 1px solid #1578C2; background: linear-gradient(180deg, #1584D7 0%, #2184CF 100%); }
.btn-blue:active { border: 1px solid #1468A7; background: linear-gradient(180deg, #0C73C1 0%, #196BAA 100%); }
.btn-green { color: #ffffff; border: 1px solid #249533; background: linear-gradient(180deg, #39B54A 0%, #34AA44 97.78%); }
.btn-green:hover { border: 1px solid #1F872D; background: linear-gradient(0deg, #1E930B 0%, #1E9D09 100%); }
.btn-green:active { border: 1px solid #14661F; background: linear-gradient(0deg, #1A740B 0%, #187A08 100%); }
.btn-red { color: #ffffff; border: 1px solid #DB161E; background: linear-gradient(180deg, #F85359 0%, #DC151D 100%); }
.btn-red:hover { border: 1px solid #D0121A; background: linear-gradient(180deg, #DC3E44 0%, #B41016 100%); }
.btn-red:active { border: 1px solid #8C0409; background: linear-gradient(180deg, #BE1118 2.22%, #860207 99.15%); }
.btn-outline-gray { color: #8492B4; border: 1px solid #BBBECD; background: transparent; }
.btn-outline-gray:hover { border: 1px solid #CED0DA; background-color: #F1F4F8; }
.btn-outline-gray:active { border: 1px solid #CED0DA; background-color: #CED0DA; }
.btn-outline-blue { color: #2EA2F8; border: 1px solid #3FA2F7; background: transparent; }
.btn-outline-blue:hover { border: 1px solid #3FA2F7; background-color: #EFF7FF; }
.btn-outline-blue:active { border: 1px solid #3FA2F7; background-color: #D5E8F9; }

.box-sm { display: inline-block; width: 76px; height: 24px; font-size: 12px; color: #ffffff; font-weight: bold; border-radius: 3px; text-align: center; padding: 0.42rem 0.2rem; line-height: 0.75; }
.box-blue {	background-color: #2EA2F8; }
.box-green { background-color: #36AF47; }
.box-red { background-color: #ED1C24; }
.box-orange { background-color: #F7981C; }
.box-gray { background-color: #516173; }
.box-outline-blue { color: #2EA2F8; background-color: #ffffff; border: 1px solid #2EA2F8; }
.box-outline-green { color: #36AF47; background-color: #ffffff; border: 1px solid #36AF47; }
.box-outline-red { color: #ED1C24; background-color: #ffffff; border: 1px solid #ED1C24; }
.box-outline-orange { color: #F7981C; background-color: #ffffff; border: 1px solid #F7981C; }
.box-outline-gray { color: #4A576C; background-color: #ffffff; border: 1px solid #4A576C; }


.text-blue { color: #2EA2F8; }
.text-orange { color: #F7981C; }
.text-red { color: #ED1C24; }
.text-green { color: #36AF47; }
.text-gray { color: #4A576C; }
.text-purple { color: #8261E6; }


.open-sans-bold { font-family: 'Open Sans', sans-serif; font-weight: 700; }
.border-bottom { border-bottom: 1px solid #CED0DA !important; }


.list-group-item {
  padding: 0.8rem;
	font-size: 15px;
	color: #4A576C;
	font-weight: 500;
	letter-spacing: -0.8px;
	line-height: 22px;
	border: 1px solid #3F4C60;
}


hr { border-top: 1px solid #CED0DA; }



/* *******************
 * Off Canvas
 ******************* */
.offcanvas-table { width: 100%; vertical-align: top; }
.offcanvas-select.active { color: #ffffff; background-color: #283242; }

.offcanvas-right-open { vertical-align: top; background-color: #262E3F; border-left: 0px; }
.offcanvas-right-open.active { border-left: 1px solid #3F4C60; }
.offcanvas-right-open .card { display: none; width: 507px; background-color: #262E3F; border-left: 1px solid #3F4C60; margin:0; }
.offcanvas-right-open .card.active { display: block; }

.offcanvasArea { float:right; width: 510px; padding: 20px; padding-left: 0; background-color: transparent; }

	@media (max-width: 1680px) { 
		.offcanvasArea,
		.offcanvas-right-open .card { width: 405px; }
	}

.offcanvas-right-open .card { border: 0px; padding: 0; }
.offcanvas-right-open .list-group-item { background-color: #262E3F; }
.offcanvas-right-open .offcanvas-right-open-title { font-size: 24px; font-weight: 500; color: #ffffff; letter-spacing: -1.5px; padding: 15px 15px 20px; background-color: #262E3F; border-bottom: 1px solid #3F4C60; }
.offcanvas-right-open .offcanvas-right-open-title i { position:relative; top: -2px; font-size: 30px; }
.offcanvas-right-open .offcanvas-right-open-title .close { text-shadow: none; opacity: 1; color: #ffffff; line-height: 1.6; }
.offcanvas-right-open .offcanvas-right-open-title .close i { font-size: 24px; color: #ffffff; font-weight: 500; }

/* 공지사항 */
.offcanvas-right-open .card.notice { width: 650px !important; }

	@media (max-width: 1680px) { 
		.offcanvas-right-open .card.notice { width: 507px !important; }
	}

/* *************************** 20181015 추가 *************************** */
body {	color: #ffffff; } /* 중복 */
.navbar-brand { width:260px; min-width:260px; } /* 중복 */
.contentsTitle i { color: #2EA2F8; } /* 중복 */
#sideMenu { width:260px; min-width:260px; } /* 중복 */
/* 왼쪽 메인 메뉴 */
#menuAccordion .btn { width: 260px; } /* 중복 */
#menuAccordion button:after { line-height: 0.9; } /* 중복 */
#main { padding-left: 260px; min-width: 1180px; } /* 중복 */
.form-control { border: 1px solid #4A576C; 	background-color: #262E3F; } /* 중복 */
.form-control:focus { background-color: transparent; border-color: #4A576C; } /* 중복 */
.search .btn-outline-secondary:hover { background-color: #2EA2F8; } /* 중복 */
.btn-outline-blue:hover { background-color: #D5E8F9; } /* 중복 */
.btn-outline-blue:active, .btn-outline-blue.active { color: #ffffff; background-color: #3FA2F7; } /* 중복 */
.list-group-item { color: #ffffff; } /* 중복 */

	@media (max-width: 1680px) { 
		.offcanvasArea,
		.offcanvas-right-open .card { width: 400px; } /* 중복 */
	}

hr { border-top: 1px solid #3F4C60; }

.offcanvas-left-open { vertical-align: top; background-color: #262E3F; border-right: 1px solid #3F4C60; }
.offcanvas-left-open .card { width: 300px; background-color: #262E3F; border: 0px; padding: 0; margin:0; }

	@media (max-width: 1680px) { 
		.offcanvas-left-open .card { width: 260px; }
		.d-block-vestap { display: block; }
		.d-none-vestap { display: none; }
		
	}

.offcanvas-left-open .list-group-item { background-color: #262E3F; }
.offcanvas-left-open .offcanvas-left-open-title { font-size: 24px; font-weight: 500; color: #ffffff; letter-spacing: -1.5px; padding: 15px 10px 20px; background-color: #262E3F; border-bottom: 1px solid #3F4C60; }
.offcanvas-left-open .offcanvas-left-open-title i { position:relative; top: -2px; font-size: 30px; }


.table-bottom-line { margin-bottom: 32px; }
.table-bottom-line th, .table-bottom-line td { font-size: 15px; color: #8492B4; letter-spacing: -0.8px; padding: 13px 0; border-top: 0; border-bottom: 1px solid #3F4C60; }
.table-bottom-line th { color: #FFFFFF; }


.sub-title { font-size: 16px; color: #ffffff; font-weight: 500; letter-spacing: -0.9px; padding: 10px; }
.sub-title i { font-size: 20px; position: relative; top: -2px; }
.sub-title.list-group-item { background-color: #2E394C; }
	

select.form-control:focus::-ms-value { color: #8492B4; background-color: transparent !important; }
.select_box{ overflow: hidden; position: relative; }
.select_box:after { position: absolute; top: 14%; right: 5px; font-family: "epicicon"; font-size: 16px; content: '\e815'; color: #8492B4; padding: 2px 4px; z-index: 5; background-color: #262E3F; }

.normal-text { font-size: 14px; letter-spacing: -0.6px; }
.normal-text.hidden { display: none; }

.text-base { color: #8492B4; }

.custom-control-input:focus ~ .custom-control-label::before { box-shadow: none; }
.custom-control-label::before { background-color: transparent; border: 1px solid #8492B4; }


.toolTipUl li a { font-size: 14px; color: #8492B4; letter-spacing: -0.78px; line-height: 27px; }
.toolTipUl li a:hover, .toolTipUl li a.active { font-weight: 500; color: #ffffff; }
.toolTipUl li a:before { font-family: "epicicon"; content: '\e84b'; font-size: 16px; margin-right: 8px; }
.toolTipUl li a:hover::before, .toolTipUl li a.active::before { color: #2EA2F8; }

.toolTip { position: relative; }
.toolTip:hover .toolTipBox  { display: block; }

.toolTipBox {
	display: none;
	position: absolute;
	top: -72px;
	right: -340px;
	width: 320px;
	font-size: 14px;
	font-weight: 300;
	color: #4A576C;
	letter-spacing: -1px;
	line-height: 20px;
	padding: 4px 14px 14px;
	background-color: #FFFFFF;
	border: 1px solid #3F4C60;
	border-radius: 4px;
	z-index: 10;
}
.toolTipBox p { font-size: 15px; font-weight: 500; color: #2EA2F8; letter-spacing: -0.64px; margin: 10px 0 2px 0; }
.toolTipBox p i { position: relative; top: -2px; font-size: 18px; }
.toolTipBox:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 74px;
    left: -10px;
    border-width:  8px 10px 8px 0;
    border-style: solid;  
    border-color: transparent #fff transparent transparent; 
}
.toolTipBox:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 72px;
    left: -12px;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    /* border-color: rgba(0,0,0,0.1) transparent; ie9 ~ 11 */ 
    border-color: transparent #3F4C60 transparent  transparent;   
}

.boxArea { padding: 10px; background-color: #232B3A; border: 1px solid #50617B; border-radius: 4px; }

.nav-tabs { border-bottom: 1px solid #3F4C60; }
.nav-tabs .nav-link { border: 0; font-size: 16px; color: #8492B4; padding: 8px 0; letter-spacing: -0.94px; }
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus { font-weight: bold; }
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link { color: #ffffff; font-weight: bold; background-color: transparent; border-color: transparent; padding-bottom: 12px; border-bottom: 4px solid #2EA2F8; }

.tabs-content { text-align: center; font-size: 14px; color: #8492B4; letter-spacing: -0.75px; padding: 22px 20px 32px; background-color: transparent; }
.tabs-content p { font-size: 46px; margin-bottom: -14px; }
	
	@media (max-width: 1680px) {
		.tabs-content {  }
		.tabs-content p {  }
	}
	
.i-24 { font-size: 24px; line-height: 10px; }

.smTable th,
.smTable td { font-size: 14px !important; padding: 0.75rem 0.4rem !important; vertical-align:middle !important; }

.card { background-color: #232B3A; border: 1px solid #50617B; }
.card-header { font-size: 18px; font-weight: 500; color: #FFFFFF; letter-spacing: -1.01px; background-color: #273142; border:0; border-bottom: 1px solid #50617B; }

.contentsMdTitle { font-size: 24px; color: #ffffff; letter-spacing: -1.5px; }

/* *************************** 20181016 추가 *************************** */

.login-fail {
	padding: 10px;
}









